@font-face {
    font-family: "iconfont"; /* Project id 3975767 */
    src: url('//at.alicdn.com/t/c/font_3975767_ovdp8ewp1e7.woff2?t=1684413963613') format('woff2'),
    url('//at.alicdn.com/t/c/font_3975767_ovdp8ewp1e7.woff?t=1684413963613') format('woff'),
    url('//at.alicdn.com/t/c/font_3975767_ovdp8ewp1e7.ttf?t=1684413963613') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-wenjianjia:before {
    content: "\e600";
}

.icon-wenjian2:before {
    content: "\e709";
}

.icon-wenjianleixing-biaozhuntu-wenjianjia:before {
    content: "\e6a5";
}

.icon-fenxiang:before {
    content: "\e713";
}

.icon-wenjian1:before {
    content: "\e65f";
}

.icon-a-wenjianjiawenjian:before {
    content: "\e69e";
}

.icon-home:before {
    content: "\e660";
}

.icon-quxiaoquanping:before {
    content: "\eb10";
}

.icon-yonghu:before {
    content: "\e8c8";
}

.icon-shezhi:before {
    content: "\e892";
}

.icon-wenjian:before {
    content: "\e71e";
}

.icon-wenjian-:before {
    content: "\e608";
}

.icon-shipin:before {
    content: "\e662";
}

.icon-menu-line:before {
    content: "\e653";
}

.icon-24gl-portraitMaleInfo2:before {
    content: "\eb23";
}

.icon-tupian:before {
    content: "\e870";
}

.icon-qitawenjian:before {
    content: "\e708";
}

.icon-yinle:before {
    content: "\f0c5";
}
