:root {
    --bg: #f0eeee;
    --card_bg: white;
    --order: #f0eeee;
    --slide: #2b3539;
    --card_border: #e2e2e2;
    --slide_sub_bg: #465257;
    --slide_bg: #2f393d;
}

.dark {
    --bg: #2a2a2a;
    --card_bg: black;
    --order: #252525;
    --slide: #1a1a1a;
    --card_border: #393939;
    --slide_sub_bg: #282828;
    --active: #177ddc;
}